.poolTabel {
    width: 600px;
    height: 300px;
    background-color: darkgreen;
    border: 5px solid #AD5F2E;
    border-bottom-color: red;
    border-left-color: blue;
    margin: auto;
    position: relative;
}
.ball {
    background: url('../img/ball.svg');
    display: block;
    width: 35px;
    height: 35px;
    background-size: contain;
    position: absolute;
    transition: all 0.3s;
}